<footer class="">
  <section class="estilizacao"></section>
  <section class="container section-one">
    <div class="footer-divisao">
      <div class="divisao-one">
        <h3>Smart Market</h3>
        <p>Sua plataforma de relatórios de compras personalizadas</p>
      </div>
      <div class="divisao-two">
        <div class="footer-divisao-one">
          <ul>
            <li>Portfolio</li>
            <li>Contato</li>
            <li>Projetos</li>
          </ul>
        </div>
        <div class="footer-divisao-two">
          <ul>
            <li>
              <a href="https://www.linkedin.com/in/murillo-morgado/" target="_blank" rel="noopener noreferrer">
                <i class="bi bi-linkedin"></i>
              </a>

            </li>
            <li>
              <a href="https://github.com/MurilloMorgado" target="_blank" rel="noopener noreferrer">
                <i class="bi bi-github"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <section class="estilizacao"></section>
  <section class="container section-two">
    <p>©2025 - by Murillo Morgado</p>
  </section>
</footer>