<section class="section-one">
  <nav class="container navbar navbar-expand-lg">
    <div class="container-fluid">
      <a  class="navbar-brand" href="/inicio">
      <img class="imagem" src="/black-car.png" alt="" >
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse nav-opcao" id="navbarNav">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/inicio">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/sobre">Sobre</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/compras">Compras</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/lista">Lista</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" aria-disabled="true">Supermercados</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</section>