.section-one {
  position: relative;
  background-image: url('/supermercado2.png');
  height: 700px;
  width: 100%;
  background-size: cover;
  background-position: center;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.4); // aqui você define a opacidade (0.0 a 1.0)
    z-index: 1;
  }

  .divisao-one-apresentacao {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100%;

    h1 {
      font-size: 4rem;
      color: white;
    }

    p {
      color: white;

    }

  }

}

.section-two {
  padding: 100px 0px;

  .produto-destaque {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0px;

    h2 {
      font-size: 32px;
      color: var(--cor-fonte);
    }
  }

  .divisao-card {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;

    .card-body {
      flex: 1 1 200px;
      max-width: 250px;
      padding: 5px;
      border: 1px solid var(--cor-fonte);
      color: var(--cor-fonte);
      box-sizing: border-box;

      img {}
    }

  }
}

.section-three {
  padding: 100px 0px;
  display: flex;
  justify-content: space-between;
  background: var(--cor-secundaria);

  .section-three-div-one {}

  .section-three-div-two {

    img {
      border-radius: 5px;
      width: 500px;
      height: 300px;
    }
  }
}

.section-four {
  padding: 100px 0;

  .section-four-div-one {
    margin-bottom: 15px;

    h3 {
      font-size: 24px;
    }
  }

  .section-four-div-two {
    border: 2px solid var(--cor-fonte);

    .tabela-scroll {
      max-height: 500px;
      overflow-y: auto;
      overflow-x: auto;

      &::-webkit-scrollbar {
        width: 8px;
        height: 8px;
      }

      &::-webkit-scrollbar-track {
        background: var(--cor-secundaria); // fundo da barra
      }

      &::-webkit-scrollbar-thumb {
        background-color: var(--cor-fonte); // cor da "bolinha" (thumb)
        border-radius: 5px;
        border: 2px solid var(--cor-secundaria); // espaço interno
      }


    }

    table {
      min-width: 600px;
      border-collapse: separate;
      border-spacing: 0;

      th,
      td {
        background: var(--cor-secundaria);

      }
    }

    thead th {
      position: sticky;
      top: 0;
      z-index: 2;
      background: var(--cor-fonte);

    }
  }
}