/* You can add global styles to this file, and also import other style files */
@import 'normalize.css';

@import "bootstrap/dist/css/bootstrap.min.css";

body {
  background: var(--cor-primaria);
  font-family: "Cinzel Decorative", serif;
}

:root {
  --cor-primaria: #fbf7ec;
  --cor-secundaria: #f4ede3;
  --cor-fonte: #676b56;
}