.section-two {
  padding: 100px 0px;

  .produto-destaque {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0px;

    h2 {
      font-size: 32px;
      color: var(--cor-fonte);
    }
  }

  .divisao-card {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;

    .card-body {
      flex: 1 1 200px;
      max-width: 250px;
      padding: 5px;
      border: 1px solid var(--cor-fonte);
      color: var(--cor-fonte);
      box-sizing: border-box;

      img {}
    }

  }
}