<app-header></app-header>
<main>

  <section class="section-one">
    <div class="section-one-div-one container">
      <h2>Produtos</h2>

      <button class="btn btn-outline-dark botao" type="button" data-bs-toggle="offcanvas"
        data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">Ver lista atual</button>


    </div>
  </section>

  <section class="section-two">
    <div class="container">
      <div class="divisao-card">
        @for (produto of listaDeProdutos; track produto) {
        <div class="card-body">
          <img src="/black-background.png" class="card-img-top" alt="...">
          <h5>{{ produto.nome }}</h5>
          <div class="card-selecao">
            <div class="quantidade">
              <i class="bi bi-dash-circle-fill" (click)="removerUm(produto.nome)"></i>
              <p class="card-text">{{ produto.quantidade }}</p>
              <i class="bi bi-plus-circle-fill" (click)="adicionarUm(produto.nome)"></i>
            </div>
            <div>
              <button type="button" class="btn btn-outline-dark botao"
                (click)="adicionarProduto(produto.nome)">Adicionar</button>
            </div>
          </div>
        </div>
        }
      </div>
    </div>
  </section>

</main>
<app-footer></app-footer>

<div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions"
  aria-labelledby="offcanvasWithBothOptionsLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">Sua lista de compra atual</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    @for (produto of listaDeCompraAtual; track produto){
    <div class="lista-de-compra">
      <p>{{produto.nome}}</p>
      <p>{{produto.quantidade}}</p>
    </div>
    }
    <button>Importar Lista</button>
  </div>
</div>