.section-one {
  margin-top: 100px;

  .section-one-div-one {
    display: flex;
    justify-content: space-between;
  }
}

.section-two {
  padding: 100px 0px;

  .produto-destaque {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0px;

    h2 {
      font-size: 32px;
      color: var(--cor-fonte);
    }
  }

  .divisao-card {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;

    .card-body {
      flex: 1 1 200px;
      max-width: 250px;
      padding: 5px;
      border: 1px solid var(--cor-fonte);
      color: var(--cor-fonte);
      box-sizing: border-box;

      .card-selecao {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .quantidade {
          display: flex;
          cursor: pointer;

          p {
            margin: 0;
            padding: 0px 6px;
          }
        }

        .botao {
          padding: 2px 9px;
        }
      }
    }

  }
}


.lista-de-compra {
  display: flex;
  justify-content: space-between;
}